* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: scroll;
}

/* LOGIN PAGE */

/* overwriting Bootstrap templates  */

.login-body {
    background-image: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5)) !important;
    overflow: hidden;
}

.h-100 {
    height: auto !important;
}

#loginBtn {
    width: 455px;
    margin-left: 0;
    background-image: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)) !important;
}

.btn-outline-danger {
    color: #379bc0;
    border-color: #379bc0;
}

.btn-outline-danger:hover {
    background-color: #379bc0;
    border-color: #379bc0;
}

.row>* {
    /* height: 361px; */
    width: min-content;
}

.card {
    border-radius: 0.3rem !important;
}

.py-5 {
    padding-top: 0 !important;
}

#loginForm>div>div>div,
#registerContainer2>div>div>div>div {
    width: 600px;
}

.mb-5 {
    margin-bottom: 2rem !important;
}


@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }

    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/* DASHBOARD PAGE */

.theme-light {
    --color-primary: yellowgreen;
    --color-secondary: floralwhite;
    --color-accent: yellowgreen;
    --font-color: black;
    --background-color: #a2d0444d;
    --hover-color: #81aa53;
    --background-brightness: 140%;
    --gradient-primary: to right, #ADD100 0%, #7B920A 51%, #ADD100 100%;
    --gradient-secondary: 117deg, rgba(123, 216, 96) 39.2%, rgba(255, 255, 255) 156.2%;

}

.theme-dark {
    --color-primary: #496925;
    --color-secondary: #315213;
    --color-accent: white;
    --font-color: #cade9f;
    --background-color: #57783a;
    --hover-color: #667e4a;
    --background-brightness: 63%;
    --gradient-primary: to right, #334011 0%, #718028 51%, #384011 100%;
    --gradient-secondary: 117deg, rgba(65, 136, 0) 39.2%, rgba(133, 221, 53) 156.2%;

}

.display {
    /* display: inline-flex; */
    display: inline;
}

.no-display {
    display: none !important;
}

::selection {
    background-color: #e98f0b;
    /* Replace with your desired color */
    color: white;
    /* Replace with the text color you want for the selected text */
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.btn {
    width: 25.5em;
    margin-left: 1px;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

#gridContainer {
    display: grid;
    grid-template-areas:
        "head head head"
        "nav main main"
        "foot foot foot";
    grid-template-rows: 7.4rem 40rem 9rem;
    grid-template-columns: 13rem 1fr;
}

header {
    grid-area: head;

}

#headerNav {
    padding: 1rem;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    background-image: url("https://i.ibb.co/NYY8V2X/dbskx1k-5550fa3d-234b-44ad-851c-2607e60fad53.png");
    filter: brightness(var(--background-brightness));
    background-position: center;
    background-repeat: repeat;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

/* customize color for dark mode */

#logoContainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 24px;
    flex: 1;
}

#logoImg {
    width: 4rem;
    padding-left: 2rem;
    margin-bottom: 4px;
    /* margin-left: -141px; */
}

h1 {
    margin-top: 2px;
    padding-left: 14px;
}

#iconItemContainer {
    margin-left: 28rem;
    display: flex;
}

/* customize color for dark mode */
.icon-item {
    fill: var(--color-accent);
    margin: 2rem 4.5rem 0.3rem 2rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.icon-item:hover {
    cursor: pointer;

}

.icon-item:hover+div {
    visibility: visible;

}

.icon-item:active {
    transform: rotateY(180deg);
}

.icon-text {
    color: black;
    text-align: center;
    visibility: hidden;
    padding-top: 3px;
    margin-left: -38px;
}

nav {
    grid-area: nav;
    height: inherit;

}

#sidenavContainer {
    height: auto;
    padding-top: 40px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-secondary);

}

#sidenavBackgroundImg {
    background-image: url("https://svgshare.com/i/uwj.svg");
    background-size: 97%;
    background-color: var(--color-secondary);
    background-blend-mode: soft-light;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

#userGreet {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--font-color);
}

.nav-btn-style {
    padding-left: 14px;
    padding-bottom: 14px;
    background-color: transparent;
    border: none;
    color: var(--font-color);
    text-align: inherit;
}

.nav-btn-style:hover {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}

.bold {
    font-weight: 900;
}

.dropdown-container {
    background-color: var(--color-primary);
    opacity: 85%;
    position: relative;
    left: 126px;
    bottom: 27px;
}

.dropdown-container>p:hover {
    background-color: var(--hover-color);
}

.caret-right-icon {
    height: 18px;
    float: right;
    padding-top: 1px;
    padding-left: 3px;
    transform: rotate(-89deg);
}

#deleteAccountBtn {
    color: red;
}

main {
    background-color: var(--background-color);
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}

#playBtnContainer {
    position: relative;
    display: flex;
    flex: 88%;
    align-items: flex-end;
    margin-bottom: 2rem;

}

#startQuizBtn {
    margin-top: 4rem!important;
    margin-left: 2px!important;
}

#playBtn,
#startQuizBtn,
#findResultBtn,
#saveChangesBtn {

    background-image: linear-gradient(var(--gradient-primary));
    margin: 10px;
    padding: 15px 45px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border: transparent;
    border-radius: 10px;
    display: block;
    box-shadow: 0 7px #54630b;

}

#playBtn:hover,
#startQuizBtn:hover,
#findResultBtn:hover,
#saveChangesBtn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#playBtn:active,
#startQuizBtn:active,
#findResultBtn:active,
#saveChangesBtn:active {
    box-shadow: 0 5px #54630b;
    transform: translateY(4px);
}

#beforeQuizContainer {
    display: flex;
    flex-direction: column;
    flex: 64%;
    justify-content: flex-start;
    align-items: center;
}

select {
    padding: 0.4em;
    border-color: #F1F8E9;
    border-radius: 60px;
}

#quizContainer {
    height: max-content;
    width: 58%;
    border: 3.4px solid var(--font-color);
    margin-bottom: 9.25rem;
}

#quizContainer p {
    color: var(--font-color);
    padding: 1rem;
    margin: 1rem 1rem 1rem 0;
    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 2s steps(40, end);
    overflow-wrap: break-word;
}

#quizQuestion {
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word !important;
    margin: 0 auto;
    letter-spacing: 1px;
    animation:
        typing 2s steps(40, end)
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

input[type="radio"] {
    padding: 4px;
    margin: 8px;
    accent-color: #586c31;
}

#findResultBtnContainer {
    margin-bottom: 3rem;
}

#userScoreContainer {
    height: 84%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#resultText,
#ShowUserScore {
    margin-top: 21px;
    padding: 14px;
    color: var(--font-color);
    border: 3px solid var(--font-color);
}

#previousQuizzesContainer {
    display: flex;
    flex-direction: column;
    flex: 11%;
    margin: 2rem;
    padding: 1rem;
    border: 3px solid var(--font-color);
    overflow-y: scroll;
}

#previousQuizzesContainer p:first-child {
    margin-bottom: 8px;
    text-align: center;
    color: var(--font-color);
}

.previous-quizzes {
    padding: 1em;
    color: var(--font-color);
}

hr {
    margin-top: 7px;
}

#accountInfoContainer {
    text-align: center;
    margin-top: 4em;
}

#accountInfoContainer input {
    display: flex;
    margin: 8px;
}

#accountInfoContainer label,
#userChoicesContainer label {
    color: var(--font-color);
}

#saveChangesBtn {
    margin: 12px -31px 0px -6px;
}


footer {
    grid-area: foot;
    background-color: var(--color-secondary);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-nav a {
    color: var(--font-color);
}

.footer-nav a:hover {
    color: var(--color-accent);
}

footer p {
    color: var(--font-color);
    text-align: center;
}

.link-item {
    padding: 3rem 0 2rem 3rem;
    text-decoration: none;
}

/* FEEDBACK FORM */

#feedbackFormContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.feedback-form {
    width: min-content;
    padding: 30px;
    border-radius: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to top, #75933a, #8BC34A);
}

h3,
.feedback-form>p,
.feedback-form label {
    color: white;
    margin-top: 6px;
    line-height: 1.5;
    text-align: center;
}

.user-input {
    width: 450px;
    height: 35px;
    margin-top: 0.5px;
    margin-bottom: 4px;
}

#submitFeedbackBtn {
    width: 452px;
    padding: 13px;
    margin-left: 0;
    color: white;
    background-color: #496925;
    border: 2px solid #253e0a;
    transition: background-color 0.3s, border-color 0.3s;
}

#submitFeedbackBtn:hover {
    background-color: #1f3a08;
    border-color: #1f3a08;
}

#closePopupBtn {
    right: 21px;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: #0e1406;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

textarea {
    width: 452px;
    height: 116px;
    resize: vertical;
}

@media screen and (max-width: 962px) {

    /* TO DO IN THE FUTURE: MAKE THE PROJECT INTERFACE FULLY RESPONSIVE ON TABLETS AS WELL */

}

@media screen and (max-width: 720px),
(orientation: landscape) {

    /* TO DO IN THE FUTURE: MAKE THE PROJECT INTERFACE FULLY RESPONSIVE ON LANDSCAPE ORIENTED MOBILE DEVICES */

}

@media screen and (max-width: 720px) {

    #logoImg {
        margin: 6px auto auto -1px;
        width: 12%;
        float: left;
    }

    #siteName {
        display: inline-block;
        margin: 5% auto auto 2% !important;
    }


    #gridContainer {
        height: fit-content;
        display: grid;
        grid-template-areas:
            "head head head"
            "greet greet nav"
            "main main nav"
            "foot foot foot";
        grid-template-rows: 0fr 0fr 5.8fr 0fr;
        grid-template-columns: 1fr;
    }

    #headerNav {
        height: auto;
        display: flex;
        flex-direction: row;
    }

    #userGreet {
        grid-area: greet;
        margin: 0;
        padding: 10px;
        background-color: var(--color-secondary);
    }

    main {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #sidenavBackgroundImg {
        display: contents;
    }

    #mobileMenuIcon {
        display: block !important;
        height: 2.5rem;
        margin-top: -5px;
        cursor: pointer;
        background-color: var(--hover-color);
        border-radius: 32%;
        box-shadow: rgb(0 0 0 / 22%) 0px 4px 12px;
    }

    #sidenavContainer {
        grid-area: nav;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--color-primary);
        opacity: 85%;
    }

    .dropdown-container {
        position: inherit;
        display: block !important;
    }

    .caret-right-icon {
        padding-top: 0;
    }

    .nav-btn-style {
        margin-bottom: 24px;
    }

    .toggle-menu {
        height: 30px;
    }

    main {
        flex: auto;
    }

    select {
        height: 40%;
    }

    footer {
        margin-bottom: 8px;
    }

    #iconItemContainer {
        margin: 0
    }


    .icon-item {
        height: 1.6rem;
        width: 3rem;
        margin: 0 2rem 0 0;
    }


    .link-item {
        margin-bottom: 1rem;
    }

    #quizContainer {
        width: max-content;
    }

    #copyrightText {
        margin-bottom: 18px;
    }

}